:root {
  --color-base-1: #bab8c2; /* text */
  --color-base-2: #c0c2c9; /* text */
  --color-base-3: #71727a; /* text */
  --color-base-4: #38393d; /* text */
  --color-base-5: #323338; /* bg */
  --color-base-6: #2e2e33; /* header bg */
  --color-base-7: #232427; /* text */
  --color-base-8: #111111; /* text */

  --color-status-success: #3cb371;
  --color-status-error: #ff6347;
  --color-status-normal: #c0c2c9;

  --color-point-1: #4925ff;
  --color-point-2: #4322e6;
  --color-point-3: #afb5ff;

  --font-size-auth-title: 1.8125rem;
  --font-size-auth-text: 1.375rem;
  --font-size-auth-btn: 1.25rem;
  --font-size-auth-form: 1.625rem;
  --font-size-auth-join: 1.125rem;
  --font-size-auth-invalid: 1rem;
  --font-size-auth-leave: 0.75rem;

  --font-size-base-0: 10.4375rem;
  --font-size-base-1: 5.125rem;
  --font-size-base-2: 4.0625rem;
  --font-size-base-3: 3.625rem;
  --font-size-base-4: 3.4375rem;
  --font-size-base-5: 2.375rem;
  --font-size-base-6: 1.625rem;
  --font-size-base-7: 1.5rem;
  --font-size-base-8: 1.375rem;
  --font-size-base-9: 1.25rem;
  --font-size-base-10: 0.875rem;
}

/* :lang(ko) {
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: -0.05em;
}
:lang(en) {
  font-family: 'Rajdhani', sans-serif;
  letter-spacing: normal;
}
.font_noto {
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: -0.05em;
}
.foont_rajdhani {
  font-family: 'Rajdhani', sans-serif;
  letter-spacing: normal;
} */

html {
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: -0.05em;
  font-size:16px;
  /* overflow-y: scroll; */
}

html,
body,
#__nuxt,
#__layout {
  height: 100%;
}

button {
  background: inherit;
  color:inherit;
  border: 0;
  outline: 0;
}

button:active,
a:active {
  opacity: 0.6;
}

a {
  color: inherit;
  text-decoration: none;
}

textarea, input, button{
  font-family: inherit;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 470px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {  
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

@media (max-width: 469.98px) {
}


 /* IE11 */
@media all and (-ms-high-contrast: none) {  
  *::-ms-backdrop, .selector {}
}
/* IE edge 12+ */
@supports (-ms-ime-align:auto) {
  .selector {} 
}
/* IE 10+ */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .selector{}
}